.row::after {
  content: "";
  clear: both;
  display: table;
}
.column {
  float: left;
  width: 100%;
  padding: 5px;
}
/* Responsive layout - makes the menu and right column stack on top of each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
